# Imports

In [122]:
import re
import unidecode
import pandas as pd
import numpy as np

# Silence warnings
import warnings
warnings.filterwarnings("ignore")
pd.options.mode.chained_assignment = None

# Load texts

In [123]:
def merge_text(df):
    
    txt = ""
    for ind, row in df.iteritems():
        if (str(row) != 'nan'):
            txt += ' ' + str(row)
        
    return txt

In [10]:
df = pd.read_excel('data/iliad_homer.xlsx', encoding = 'utf-8')

In [20]:
iliad_Homer = merge_text(df['Iliad – original'])
iliad_KK = merge_text(df['Iliad – Kazantzakis-Kakridis'])
iliad_RL = merge_text(df['Iliad – Lattimore'])

In [12]:
print(iliad_Homer[:1000])

 Μῆνιν ἄειδε, θεά, Πηληιάδεω Ἀχιλῆος οὐλομένην, ἣ μυρί’ Ἀχαιοῖς ἄλγε’ ἔθηκε, πολλὰς δ’ ἰφθίμους ψυχὰς Ἄϊδι προΐαψεν ἡρώων, αὐτοὺς δὲ ἑλώρια τεῦχε κύνεσσιν οἰωνοῖσί τε πᾶσι· Διὸς δ’ ἐτελείετο βουλή· ἐξ οὗ δὴ τὰ πρῶτα διαστήτην ἐρίσαντε Ἀτρεΐδης τε ἄναξ ἀνδρῶν καὶ δῖος Ἀχιλλεύς. Τίς γάρ σφωε θεῶν ἔριδι ξυνέηκε μάχεσθαι; Λητοῦς καὶ Διὸς υἱός· ὃ γὰρ βασιλῆι χολωθεὶς νοῦσον ἀνὰ στρατὸν ὦρσε κακήν, ὀλέκοντο δὲ λαοί, οὕνεκα τὸν Χρύσην ἠτίμασεν ἀρητῆρα Ἀτρεΐδης· ὃ γὰρ ἦλθε θοὰς ἐπὶ νῆας Ἀχαιῶν λυσόμενός τε θύγατρα φέρων τ’ ἀπερείσι’ ἄποινα, στέμματ' ἔχων ἐν χερσὶν ἑκηβόλου Ἀπόλλωνος χρυσέῳ ἀνὰ σκήπτρῳ, καὶ λίσσετο πάντας Ἀχαιούς, Ἀτρεΐδα δὲ μάλιστα δύω, κοσμήτορε λαῶν· «Ἀτρεΐδαι τε καὶ ἄλλοι ἐϋκνήμιδες Ἀχαιοί, ὑμῖν μὲν θεοὶ δοῖεν Ὀλύμπια δώματ’ ἔχοντες ἐκπέρσαι Πριάμοιο πόλιν, εὖ δ’ οἴκαδ’ ἱκέσθαι· παῖδα δ' ἐμοὶ λύσαιτε φίλην, τὰ δ’ ἄποινα δέχεσθαι, ἁζόμενοι Διὸς υἱὸν ἑκηβόλον Ἀπόλλωνα.» Ἔνθ' ἄλλοι μὲν πάντες ἐπευφήμησαν Ἀχαιοὶ αἰδεῖσθαί θ’ ἱερῆα καὶ ἀγλαὰ δέχθαι ἄποινα· ἀλλ' οὐκ Ἀτρεΐδῃ Ἀγαμέ

In [13]:
iliad_KK = iliad_KK.replace('\xa0', '')
print(iliad_KK[:1000])

 Τη μάνητα, θεά, τραγούδα μας του ξακουστού Αχιλλέα, ανάθεμά τη, πίκρες που 'δωκε στους Αχαιούς περίσσιες και πλήθος αντρειωμένες έστειλε ψυχές στον Άδη κάτω παλικαριών, στους σκύλους ρίχνοντας να φάνε τα κορμιά τους και στα όρνια ολούθε —έτσι το θέλησε να γίνει τότε ο Δίας— απ' τη στιγμή που πρωτοπιάστηκαν και χώρισαν οι δυο τους, του Ατρέα ο γιος ο στρατοκράτορας κι ο μέγας Αχιλλέας.  Ποιος τάχα απ' τους θεούς τους έσπρωξε να μπούνε σ' έτοια αμάχη; Του Δία και της Λητώς τους έσπρωξεν ο γιος, που με το ρήγα ολιάζοντας κακιά εξεσήκωσεν αρρώστια και πεθαίναν στρατός πολύς· τι δε σεβάστηκεν ο γιος του Ατρέα το Χρύση, του θεού το λειτουργό· στ' Αργίτικα γοργά καράβια είχε έρθει με λύτρα αρίφνητα, την κόρη του να ξαγοράσει πίσω, του μακροσαγιτάρη Απόλλωνα κρατώντας τα στεφάνια πα στο χρυσό ραβδί, και πρόσπεφτε μπρος στους Αργίτες όλους, ξεχωριστά στους δυο πολέμαρχους υγιούς του Ατρέα γυρνώντας: «Του Ατρέα βλαστάρια κι αποδέλοιποι καλαντρειωμένοι Αργίτες, σε σας οι θεοί που ζουν στον Όλυμπ

In [14]:
print(iliad_RL[:1000])

 BOOK ONE Sing, goddess, the anger of Peleus' son Achilleus and its devastation, which put pains thousandfold upon the Achaians, hurled in their multitudes to the house of Hades strong souls of heroes, but gave their bodies to be the delicate feasting 5 of dogs, of all birds, and the will of Zeus was accomplished since that time when first there stood in division of conflict Atreus' son the lord of men and brilliant Achilleus. What god was it then set them together in bitter collision? Zeus' son and Leto's, Apollo, who in anger at the king drove 10 the foul pestilence along the host, and the people perished, since Atreus' son had dishonored Chryses, priest of Apollo, when he came beside the fast ships of the Achaians to ransom back his daughter, carrying gifts beyond count and holding in his hands wound on a staff of gold the ribbons of Apollo 15 who strikes from afar, and supplicated all the Achaians, but above all Atreus' two sons, the marshals of the people: "Sons of Atreus and you

In [15]:
df2 = pd.read_excel('data/odyssey_homer.xlsx', encoding = 'utf-8')

In [18]:
odyssey_Homer = merge_text(df2['Odyssey – original'])

In [19]:
print(odyssey_Homer[:1000])

 ἄνδρα μοι ἔννεπε, μοῦσα, πολύτροπον, ὃς μάλα πολλὰ πλάγχθη, ἐπεὶ Τροίης ἱερὸν πτολίεθρον ἔπερσεν: πολλῶν δ᾽ ἀνθρώπων ἴδεν ἄστεα καὶ νόον ἔγνω, πολλὰ δ᾽ ὅ γ᾽ ἐν πόντῳ πάθεν ἄλγεα ὃν κατὰ θυμόν, ἀρνύμενος ἥν τε ψυχὴν καὶ νόστον ἑταίρων. ἀλλ᾽ οὐδ᾽ ὣς ἑτάρους ἐρρύσατο, ἱέμενός περ: αὐτῶν γὰρ σφετέρῃσιν ἀτασθαλίῃσιν ὄλοντο, νήπιοι, οἳ κατὰ βοῦς Ὑπερίονος Ἠελίοιο ἤσθιον: αὐτὰρ ὁ τοῖσιν ἀφείλετο νόστιμον ἦμαρ. τῶν ἁμόθεν γε, θεά, θύγατερ Διός, εἰπὲ καὶ ἡμῖν. ἔνθ᾽ ἄλλοι μὲν πάντες, ὅσοι φύγον αἰπὺν ὄλεθρον, οἴκοι ἔσαν, πόλεμόν τε πεφευγότες ἠδὲ θάλασσαν: τὸν δ᾽ οἶον νόστου κεχρημένον ἠδὲ γυναικὸς νύμφη πότνι᾽ ἔρυκε Καλυψὼ δῖα θεάων ἐν σπέσσι γλαφυροῖσι, λιλαιομένη πόσιν εἶναι. ἀλλ᾽ ὅτε δὴ ἔτος ἦλθε περιπλομένων ἐνιαυτῶν, τῷ οἱ ἐπεκλώσαντο θεοὶ οἶκόνδε νέεσθαι εἰς Ἰθάκην, οὐδ᾽ ἔνθα πεφυγμένος ἦεν ἀέθλων καὶ μετὰ οἷσι φίλοισι. θεοὶ δ᾽ ἐλέαιρον ἅπαντες νόσφι Ποσειδάωνος: ὁ δ᾽ ἀσπερχὲς μενέαινεν ἀντιθέῳ Ὀδυσῆι πάρος ἣν γαῖαν ἱκέσθαι. ἀλλ᾽ ὁ μὲν Αἰθίοπας μετεκίαθε τηλόθ᾽ ἐόντας, Αἰθίοπας τοὶ διχθὰ

In [69]:
df3 = pd.read_excel('data/other.xlsx', encoding = 'utf-8')

In [70]:
df3.head()

,Shield of Heracles – Hesiode,Theogony – Hesiode,Works & days – Hesiode,Lycurgus – Against Leocrates,Aristides – 44 Orationes
0,ἢ οἵη προλιποῦσα δόμους καὶ πατρίδα γαῖαν,"μουσάων Ἑλικωνιάδων ἀρχώμεθ᾽ ἀείδειν,",μοῦσαι Πιερίηθεν ἀοιδῇσιν κλείουσαι,Κατὰ Λεωκράτους,εἰς Δία
1,ἤλυθεν ἐς Θήβας μετ᾽ ἀρήιον Ἀμφιτρύωνα,αἵθ᾽ Ἑλικῶνος ἔχουσιν ὄρος μέγα τε ζάθεόν τε,"δεῦτε, Δί᾽ ἐννέπετε, σφέτερον πατέρ᾽ ὑμνείουσαι:",NaN,NaN
2,"Ἀλκμήνη, θυγάτηρ λαοσσόου Ἠλεκτρύωνος:",καί τε περὶ κρήνην ἰοειδέα πόσσ᾽ ἁπαλοῖσιν,"ὅντε διὰ βροτοὶ ἄνδρες ὁμῶς ἄφατοί τε φατοί τε,",ηψποτηεσις μετὰ τὰ ἐν Χαιρωνείᾳ δεινὰ ψήφισμα ...,"τάδε σοὶ κατ᾽ εὐχὴν, Ζεῦ βασιλεῦ τε καὶ σῶτερ,..."
3,ἥ ῥα γυναικῶν φῦλον ἐκαίνυτο θηλυτεράων,ὀρχεῦνται καὶ βωμὸν ἐρισθενέος Κρονίωνος.,ῥητοί τ᾽ ἄρρητοί τε Διὸς μεγάλοιο ἕκητι.,NaN,NaN
4,εἴδεΐ τε μεγέθει τε: νόον γε μὲν οὔ τις ἔριζε,καί τε λοεσσάμεναι τέρενα χρόα Περμησσοῖο,"ῥέα μὲν γὰρ βριάει, ῥέα δὲ βριάοντα χαλέπτει,","δικαίαν, ὦ Ἀθηναῖοι, καὶ εὐσεβῆ καὶ ὑπὲρ ὑμῶν ...",ὡς δὲ καὶ θεῶν ὅσα φῦλα ἀπορροὴν τῆς Διὸς τοῦ ...

In [71]:
hesiode = merge_text(df3['Shield of Heracles – Hesiode']) + merge_text(df3['Theogony – Hesiode']) \
        + merge_text(df3['Works & days – Hesiode'])
lycurgus = merge_text(df3['Lycurgus – Against Leocrates'])
aristides = merge_text(df3['Aristides – 44 Orationes'])

In [124]:
df4 = pd.read_excel('data/other2.xlsx', encoding = 'utf-8')

In [125]:
df4.head()

,Antiphon – speeches,Aristotle – Nicomachean Ethics (I-IV),Aristotle – Economics,Thucydides – Peloponnesian War
0,Φαρμακείας κατὰ τῆς μητρυιᾶς,"πᾶσα τέχνη καὶ πᾶσα μέθοδος, ὁμοίως δὲ πρᾶξίς ...",α ἡ οἰκονομικὴ καὶ πολιτικὴ διαφέρει οὐ μόνον ...,Θουκυδίδης Ἀθηναῖος ξυνέγραψε τὸν πόλεμον τῶν ...
1,NaN,"καὶ ποίας ἑκάστους μανθάνειν καὶ μέχρι τίνος, ...",NaN,NaN
2,"νέος μὲν καὶ ἄπειρος δικῶν ἔγωγε ἔτι, δεινῶς δ...","καθ᾽ ἕκαστον μὲν ἄρα ὁ πεπαιδευμένος, ἁπλῶς δ᾽...","ἔνιαι μὲν οὖν τῶν τεχνῶν διῄρηνται, καὶ οὐ τῆς...",δηλοῖ δέ μοι καὶ τόδε τῶν παλαιῶν ἀσθένειαν οὐ...
3,NaN,NaN,NaN,NaN
4,"δέομαι δ᾽ ὑμῶν, ὦ ἄνδρες, ἐὰν ἐπιδείξω ἐξ ἐπιβ...","λέγωμεν δ᾽ ἀναλαβόντες, ἐπειδὴ πᾶσα γνῶσις καὶ...",πόλις μὲν οὖν οἰκιῶν πλῆθός ἐστι καὶ χώρας καὶ...,Μίνως γὰρ παλαίτατος ὧν ἀκοῇ ἴσμεν ναυτικὸν ἐκ...

In [126]:
aristotle = merge_text(df4['Aristotle – Economics']) + merge_text(df4['Aristotle – Nicomachean Ethics (I-IV)'])
antiphon = merge_text(df4['Antiphon – speeches'])
thucydides = merge_text(df4['Thucydides – Peloponnesian War'])

## Export texts to txt

In [73]:
def export_to_txt(text, name):
    
    f = open("txt/" + name + ".txt", "w")
    f.write(text)
    f.close()

In [127]:
export_to_txt(iliad_Homer, 'iliad_Homer')
export_to_txt(iliad_KK, 'iliad_KK')
export_to_txt(iliad_RL, 'iliad_RL')

export_to_txt(odyssey_Homer, 'odyssey_Homer')

export_to_txt(hesiode, 'hesiode')
export_to_txt(lycurgus, 'lycurgus')
export_to_txt(aristides, 'aristides')

export_to_txt(aristotle, 'aristotle')
export_to_txt(antiphon, 'antiphon')
export_to_txt(thucydides, 'thucydides')

# Lemmatization
## Update lemmatization dictionary

In [78]:
f = open("lem/greek-lemmata.txt", "r")
txt = f.read()

In [80]:
drop_list = ['(pres', '(imperf', '(doric', '(aor', '(plup', '(perf', '(subj', '(poetic', 
             '(fut', '(nom/voc', '(epic', '(masc/fem/neut', '(masc', '(neut',
             '(indeclform', '(fem', '(masc/fem']

words = re.split('\n', txt)
words_first_form, words_id, words_declensions = [], [], []
length = []

for word in words:
    declensions = re.split('\t', word)
    
    if len(declensions) >= 2:
        words_first_form.append(declensions[0])
        words_id.append(declensions[1])
        
        word_decl = []
        for form in declensions[2:]:
            cleaned = re.findall('([A-z()*=|/\\+_^]+)(?=\s)+', form)
            if len(cleaned) >= 1:
                if not(cleaned[0] in drop_list):
                    
                    word_decl.append(cleaned[0])
        
        words_declensions.append(word_decl)

f.close()

In [81]:
df_lemmatizer = pd.DataFrame({'first_form': words_first_form,
                              'id': words_id,
                              'declensions' : words_declensions})

In [83]:
df_lemmatizer.head(5)

  first_form       id                                        declensions
0     a(/bra   537850  [a(/bra, a(/brai, a(/brais, a(/bran, a(/bras, ...
1   a(/bruna   575884                                         [a(/bruna]
2    a(/dhma  1744787                                          [a(/dhma]
3     a(/dhn  1750487                 [a(/ddhn, a(/dhn, a)/ddhn, a)/dhn]
4   a(/dicis  1896613                                         [a(/dicis]

In [29]:
len(df_lemmatizer)

114098

In [58]:
df_betunicode = pd.read_csv('lem/betunicode_gr.csv', delimiter = ';')
df_betunicode.head()

,match,code,transcript,indice,comment
0,*)\|a,U+1F8A,ᾊ,225190138,GREEK CAPITAL LETTER ALPHA WITH PSILI AND VARI...
1,*(\|a,U+1F8B,ᾋ,225190139,GREEK CAPITAL LETTER ALPHA WITH DASIA AND VARI...
2,*)/|a,U+1F8C,ᾌ,225190140,GREEK CAPITAL LETTER ALPHA WITH PSILI AND OXIA...
3,*(/|a,U+1F8D,ᾍ,225190141,GREEK CAPITAL LETTER ALPHA WITH DASIA AND OXIA...
4,*)=|a,U+1F8E,ᾎ,225190142,GREEK CAPITAL LETTER ALPHA WITH PSILI AND PERI...

In [59]:
len(df_betunicode)

286

In [95]:
declensions = df_lemmatizer['declensions'].values

In [108]:
declensions_lem = []

for declension_list in declensions:
    decl_list = []
    
    for declension in declension_list:
        decl_lem = declension
        
        for ind, row in df_betunicode.iterrows():
            decl_lem = decl_lem.replace(row['match'], row['transcript'])
            
        decl_list.append(decl_lem)
    
    declensions_lem.append(decl_list)

In [117]:
df_lemmatizer['declensions_gr'] = declensions_lem

In [169]:
# Correct empty entries

df_empty = df_lemmatizer[df_lemmatizer['declensions_gr'].astype('str') == '[]']
list_decl_gr = []

for ind, row in df_empty.iterrows():
    form_lem = row['first_form']
    df_empty['declensions'][ind] = [form_lem]
    
    for ind, row in df_betunicode.iterrows():
        form_lem = form_lem.replace(row['match'], row['transcript'])
        
    list_decl_gr.append([form_lem])
    
df_empty['declensions_gr'] = list_decl_gr

In [170]:
df_lemmatizer[df_lemmatizer['declensions_gr'].astype('str') == '[]'] = df_empty

In [173]:
first_form_gr = []

for ind, row in df_lemmatizer.iterrows():
    first_form_gr.append(row['declensions_gr'][0])

In [174]:
df_lemmatizer['first_form_gr'] = first_form_gr

In [150]:
# Reorder columns
df_lemmatizer = df_lemmatizer[['id', 'first_form', 'declensions', 'first_form_gr', 'declensions_gr']]

## A SUPPRIMER 

drop_list = ['\(pres', '\(imperf', '\(doric', '\(aor', '\(plup', '\(perf', '\(subj', 
             '\(poetic', '\(fut', '\(nom/voc', '\(epic', '\(masc/fem/neut', '\(masc', 
             '\(neut', '\(indeclform', '\(fem', '\(masc/fem']

drop_list_gr = ['̔μασξ́φεμ', '̔περφ', '̔πρεσ', '̔ιμπερφ', '̔δοριξ', '̔αορ', '̔πλυπ', '̔περφ', '̔συβj', 
                '̔ποετιξ', '̔φυτ', '̔νομ́ϝοξ', '̔επιξ', '̔μασξ́φεμ́νευτ', '̔μασξ', '̔νευτ',
                '̔φεμ', '̔μασξ́φεμ', '̔ινδελφορμ']
        
for ind, row in df_lemmatizer.iterrows():
    erroneous = False
    
    for drop in drop_list:
        if len(re.findall(drop, str(row['declensions']))) > 0:
            erroneous = True
            break
    
    if erroneous:
        clean_declension, clean_declension_gr = [], []
        for decl in row['declensions']:
            if not(decl in drop_list):
                clean_declension.append(decl)
        for decl_gr in row['declensions_gr']:
            if not(decl_gr in drop_list_gr):
                clean_declension_gr.append(decl_gr)
    
        df_lemmatizer['declensions'][ind] = clean_declension
        df_lemmatizer['declensions_gr'][ind] = clean_declension_gr
               
    if ind%1000 == 0:
        print(str(100*ind/len(df_lemmatizer))[:5] + '%')

In [140]:
df_lemmatizer[df_lemmatizer['id'] == 18811312]['declensions_gr'].values

array([list(['ἅφαιστοσ', 'ἁφαίστοιο', 'ἁφαίστου', 'ἁφαίστῳ'])],
      dtype=object)

In [ ]:
df_lemmatizer.to_json('lem/lemmatizer.json')

## Dictionary-based lemmatization

### Create a concise lemmatizer

In [98]:
df_lemmatizer = pd.read_json('lem/lemmatizer.json').reset_index().drop(columns = 'index')

In [99]:
ind_short = []

for ind, row in df_lemmatizer.iterrows():
    if len(row['declensions_gr']) > 1:
        ind_short.append(ind)

In [100]:
df_shortLem = df_lemmatizer.iloc[ind_short]

In [101]:
df_shortLem = df_shortLem.reset_index().drop(columns = ['index'])

In [102]:
len(df_shortLem)

75642

In [103]:
df_shortLem['length'] = 0

In [104]:
for ind, row in df_shortLem.iterrows():
    df_shortLem['length'][ind] = len(row['first_form_gr'])

In [105]:
df_shortLem = df_shortLem.sort_values(
    'length', ascending = False).reset_index().drop(columns = ['index'])

In [106]:
df_shortLem.to_json('lem/short.json')

### Lemmatize

In [107]:
df_shortLem = pd.read_json('lem/short.json').reset_index().drop(columns = 'index')

In [116]:
def lemmatize(lemmatizer, text, form = 'first_form_gr'):
    
    text_ = ''
    
    split = re.split('[\s\.,·:;\'—«»*]', text)
    
    for word in split:
        if len(word) > 0:
            text_ += word + ' '
            
    text_ = text_[:-1].lower()
    
    for ind, row in lemmatizer.iterrows():
        for declension in row['declensions_gr']:
            text_ = text_.replace(declension + ' ', row[form] + ' ')
    
        if ind%10000 == 0:
            print(str(100*ind/len(lemmatizer))[:5] + '%')
            
    return text_

In [117]:
lycurgus_lem = lemmatize(df_shortLem, lycurgus)
export_to_txt(lycurgus_lem, 'lycurgus_lem')

0.0%
13.22%
26.44%
39.66%
52.88%
66.10%
79.32%
92.54%

In [118]:
hesiode_lem = lemmatize(df_shortLem, hesiode)
export_to_txt(hesiode_lem, 'hesiode_lem')

0.0%
13.22%
26.44%
39.66%
52.88%
66.10%
79.32%
92.54%

In [119]:
aristides_lem = lemmatize(df_shortLem, aristides)
export_to_txt(aristides_lem, 'aristides_lem')

0.0%
13.22%
26.44%
39.66%
52.88%
66.10%
79.32%
92.54%

In [120]:
iliad_Homer_lem = lemmatize(df_shortLem, iliad_Homer)
export_to_txt(iliad_Homer_lem, 'iliad_Homer_lem')

0.0%
13.22%
26.44%
39.66%
52.88%
66.10%
79.32%
92.54%

In [121]:
odyssey_Homer_lem = lemmatize(df_shortLem, odyssey_Homer)
export_to_txt(odyssey_Homer_lem, 'odyssey_Homer_lem')

0.0%
13.22%
26.44%
39.66%
52.88%
66.10%
79.32%
92.54%

In [128]:
aristotle_lem = lemmatize(df_shortLem, aristotle)
export_to_txt(aristotle_lem, 'aristotle_lem')

0.0%
13.22%
26.44%
39.66%
52.88%
66.10%
79.32%
92.54%

In [129]:
antiphon_lem = lemmatize(df_shortLem, aantiphonphonhon)
export_to_txt(antiphon_lem, 'antiphon_lem')

0.0%
13.22%
26.44%
39.66%
52.88%
66.10%
79.32%
92.54%

In [130]:
thucydides_lem = lemmatize(df_shortLem, thucydides)
export_to_txt(thucydides_lem, 'thucydides_lem')

0.0%
13.22%
26.44%
39.66%
52.88%
66.10%
79.32%
92.54%

In [131]:
export_to_txt(antiphon + aristides + lycurgus, 'oral')
export_to_txt(antiphon_lem + aristides_lem + lycurgus_lem, 'oral_lem')
export_to_txt(hesiode + thucydides + aristotle, 'written')
export_to_txt(hesiode_lem + thucydides_lem + aristotle_lem, 'written_lem')

## Declension-based lemmatization

declensions = [
    ['ά', 'άν', 'ᾶς', 'ᾷ', 'αί', 'άς', 'ῶν', 'αῖς'], # 1st
    ['η', 'ην', 'ης', 'ῃ', 'αι', 'αις', 'ας', 'ῶν'], # 1st
    ['α', 'αν', 'ης', 'ῃ', 'αι', 'αις', 'ας', 'ῶν'], # 1st
    ['ας', 'α', 'αν', 'ου', 'ᾳ', 'αι', 'ας', 'ῶν', 'αις'], # 1st
    ['ης', 'α', 'ην', 'ου', 'ῃ', 'αι', 'ας', 'ων', 'αις'], # 1st
    ['ος', 'ε', 'ον', 'ου', 'ῳ', 'οι', 'ους', 'ων', 'οις'], # 2nd
    ['ον', 'ου', 'ῳ', 'α', 'ων', 'οις'], # 2nd
    ['ς', 'α', 'ος', 'ι', 'ές', 'ας', 'ων', 'σι'], # 3rd
    ['ς', 'ος', 'ι', 'α', 'ων', 'σι']] # 3rd